In [1]:
import napari_toska as nts

In [2]:
from skimage.morphology import skeletonize
from skimage.data import binary_blobs
from skimage.measure import label
import numpy as np
import napari

In [3]:
labels = label(binary_blobs(seed=0))

In [4]:
labeled_skeletons = nts.generate_labeled_skeletonization(labels)
labeled_skeletons.max()

15

## Parse skeletons

In [5]:
parsed_skeletons_single = nts.parse_single_skeleton(labeled_skeletons, label=2, neighborhood='n8')
parsed_skeletons_all = nts.parse_all_skeletons(labeled_skeletons, neighborhood='n8')

In [6]:
viewer = napari.Viewer()

In [7]:
viewer.add_labels(labels, name='labels')
viewer.add_labels(parsed_skeletons_all)
viewer.add_labels(parsed_skeletons_single)
viewer.add_labels(labeled_skeletons)

In [8]:
adjacency_matrix = nts.create_adjacency_matrix(parsed_skeletons_single, neighborhood='n8')
graph = nts.convert_adjacency_matrix_to_graph(adjacency_matrix)

In [9]:
labeled_branches = nts.label_branches(parsed_skeletons_single, labeled_skeletons, neighborhood='n8')
viewer.add_labels(labeled_branches)

In [10]:
spine = nts.create_spine_image(adjacency_matrix=adjacency_matrix,
                               labeled_branches=labeled_branches)
viewer.add_labels(spine)

## Measurements

In [11]:
features = nts.analyze_skeletons(
    labeled_skeletons=labeled_skeletons,
    parsed_skeletons=parsed_skeletons_all)
features

,skeleton_id,n_endpoints,n_branch_points,n_nodes,n_branches,spine_length,n_cycle_basis,n_possible_undirected_cycles,label
0,1,2,0,2,1,1.0,0,0,1
0,2,11,13,24,25,13.0,2,3,2
0,3,2,0,2,1,1.0,0,0,3
0,4,2,0,2,1,1.0,0,0,4
0,5,2,0,2,1,1.0,0,0,5
0,6,2,0,2,1,1.0,0,0,6
0,7,6,4,10,9,5.0,0,0,7
0,8,2,0,2,1,1.0,0,0,8
0,9,2,0,2,1,1.0,0,0,9
0,10,0,0,0,0,NaN,0,0,10
0,11,2,0,2,1,1.0,0,0,11
0,12,3,1,4,3,2.0,0,0,12
0,13,2,0,2,1,1.0,0,0,13
0,14,0,0,0,1,NaN,0,0,14
0,15,2,0,2,1,1.0,0,0,15

In [16]:
parsed_skeletons_single = parsed_skeletons_all * (labeled_skeletons == 7)
nts.analyze_single_skeleton(
            parsed_skeletons_single, neighborhood='n8')

,n_endpoints,n_branch_points,n_nodes,n_branches,spine_length,n_cycle_basis,n_possible_undirected_cycles
0,6,4,10,9,5.0,0,0